body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    text-align:center;
}

.center{
    padding-top:100px;
}

.login-box, .thank-box{
    background:white;
    width:300px;
    margin:auto;
    padding:30px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.hint{
    font-size:12px;
    color:gray;
}

header{
    background:#222;
    color:white;
    padding:15px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo{
    margin-right:10px;
}

.search{
    padding:10px;
    width:80%;
    max-width:300px;
    margin:20px;
}

.products{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:white;
    margin:10px;
    padding:15px;
    width:180px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

.card img{
    width:100%;
    border-radius:8px;
}

button{
    padding:10px;
    background:black;
    color:white;
    border:none;
    cursor:pointer;
    margin:10px;
    border-radius:5px;
}

button:hover{
    background:#444;
}

footer{
    background:#222;
    color:white;
    padding:15px;
    margin-top:30px;
}

@media(max-width:600px){
    .products{
        flex-direction:column;
        align-items:center;
    }
}
